# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Reportes generados por el IDS
report/*.json

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/
